@use "quasar/src/css/variables" as q

.container
    width: 100%
    padding-right: 0.75rem
    padding-left: 0.75rem
    margin-right: auto
    margin-left: auto

@media (min-width: q.$breakpoint-md-min)
    .container
        max-width: 1440px
