@charset "UTF-8";
.l2d {
	position: fixed;
	left: 0;
	top: 0;
	width: 230px;
	height: 270px;
	z-index: 2000;
}
.l2d-text {
	opacity: 0;
	width: 220px;
	height: 70px;
	margin: -20px 5px;
	padding: 5px 7px;
	border: 1px solid rgba(224, 186, 140, 0.8);
	border-radius: 12px;
	background-color: rgba(255, 255, 255, 1.0);
	box-shadow: 0 3px 15px 2px rgba(191, 158, 118, 0.2);
	font-size: 18px;
	line-height: 20px;
	color: #555;
	text-overflow: ellipsis;
	overflow: hidden;
	position: absolute;		padding: 10px;
}
.l2d-tool {
	display: none;
	color: #aaa;
	top: 50px;
	right: 0;
	font-size: 16px;
	position: absolute
}
.l2d:hover .l2d-tool {
	display: block
}
.l2d-tool span {
	display: block;
	cursor: pointer;
	color: #5b6c7d;
	line-height: 22px;
	transition: 0.2s;
	-webkit-transition: 0.2s
}
.l2d-tool .fa-comments {
	font-size: 19px
}
.l2d-tool .fa-home, .l2d-tool .fa-info-circle {
	font-size: 20px
}
.l2d-tool .fa-street-view, .l2d-tool .fa-close {
	font-size: 22px
}
.l2d-tool span:hover {
	color: #34495e
}
.l2d #live2d {
	position: absolute;
	left: 3%;
	bottom: 0;
	cursor: move;
}
@media screen and (max-width:530px) {
	.l2d_xb{
		pointer-events: none;
		display: none !important;
	}
	.l2d-text, .l2d-tool {
		display: none !important
	}
	.l2d #live2d {
		display: none !important
	}
}